* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}
header img {
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.25);
}

header h1 {
  background: url(../public/image2.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.85rem;
  margin-top: 0.25rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(rgb(67, 30, 245), rgb(67, 18, 243));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
